# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Environnement virtuel
venv/
env/
*.env

# Base de données SQLite
db.sqlite3

# Fichiers de logs
*.log

# Fichiers générés par l’IDE ou l’éditeur
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers statiques collectés (si vous utilisez collectstatic)
staticfiles/

# Secrets et configuration locale
*.env
.local_settings.py

# Mac OS
.DS_Store

# Windows
Thumbs.db
